.screen {
    width: 800px;
    height: 600px;
    background-color: black;
    color: white;
    transition: background-color 1s, color 1s;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    height: 100%;
    width: 100%;
    transition: all 1s;
}

.mainPanel {
    display: flex;
    /* flex-grow: 1; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    /* min-width: 0; */
    height: 565px;
    overflow: hidden;
    transition: all 1s;
    /* padding: 5px; */
}

.artists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 1s;
    margin-bottom: 30px;
}

.artist {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    transition: all 1s;
}

.artist h1 {
    text-align: center;
    font-size: 1rem;
}

.artist img {
    width: 125px;
    height: 125px;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
}

.sidePanel {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    /* padding: 10px; */
    width: 350px;
    /* max-width: 350px; */
    height: 565px;
    overflow: hidden;
    transition: all 1s;
    /* border: 1px solid white; */
}

.coverArt {
    border-radius: 5px;
    max-width: 425px;
    object-fit: cover;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.3);
}

.metadata {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 10px;
    margin-top: 15px;
    margin-right: 15px;
}

.trackName {
    font-size: 30px;
    font-weight: 700;
}

.artistName {
    font-size: 25px;
    font-weight: 500;
}

.albumName {
    font-size: 18px;
    font-weight: 400;
}

.information {
    /* padding: 10px; */
    height: 100%;
    overflow: hidden;
    opacity: 100%;
    transition: opacity 1s;
}

.progress {
    flex-basis: 100%;
    height: 35px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.progressMain {
    height: 5px;
    transition: width 1s, background-color 1s, color 1s;
}

.progressFill {
    transition: width 1s, background-color 1s, color 1s;
}

.timestamp {
    font-weight: 600;
    width: 50px;
}
