.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
}

.coverArt {
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
}

.progress {
    width: 750px;
    height: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* color: white; */
    /* background-color: black; */
}
